@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

/* Light Mode */
body {
  @apply bg-white text-stone-950;
  font-family: 'Inter', sans-serif;
}

text {
  @apply bg-white text-stone-950;
  font-family: 'Inter', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  @apply text-stone-950;
}


/* Dark Mode */
html.dark body {
  @apply bg-black text-zinc-100;
}

html.dark text {
  @apply text-white;
}

html.dark h1,h2,h3,h4,h5,h6 {
  @apply text-zinc-100;
}